<!-- <!DOCTYPE html>
<html>
  <head>
   
    
  <body>
    
    
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    
    <nav>
      <ul>
        <li>
          <a href="#" class="logo"
            ><img src="/images/person-icon.webp" alt="" /><span class="nav-item"
              >Admin Panel</span
            ></a
          >
        </li>
        <li>
          <a href="/admin"
            ><i class="fa fa-home fa-lg"></i
            ><span class="nav-item">Home</span></a
          >
        </li>
        <li>
          <a href="/admin/updateprofile"
            ><i class="fa fa-user fa-lg"></i
            ><span class="nav-item">Update Profile</span></a
          >
        </li>
        <li>
          <a href="/admin/courses"
            ><i class="fa fa-graduation-cap fa-lg"></i
            ><span class="nav-item">Course</span></a
          >
          <li>
            <a href="/admin/add_course"
              ><i class="fa fa-graduation-cap fa-lg"></i
              ><span class="nav-item">add course</span></a
            >
        </li>
        <li>
          <a href="/admin/subjects"
            ><i class="fa fa-book fa-lg"></i
            ><span class="nav-item">Subject</span></a
          >
        </li>
        <li>
          <a href="/admin/session"
            ><i class="fa fa-server fa-lg"></i
            ><span class="nav-item">Session</span></a
          >
        </li>
        <li>
          <a href="/admin/addstaff"
            ><i class="fa fa-home fa-lg"></i
            ><span class="nav-item">Add Staff</span></a
          >
        </li>
        <li>
          <a href="/admin/managestaff"
            ><i class="fa fa-home fa-lg"></i
            ><span class="nav-item">Manage Staff</span></a
          >
        </li>
        <li>
            <a href="/admin/add_student"
              ><i class="fa fa-book fa-lg"></i
              ><span class="nav-item">Add student</span></a
            >
              </li>
            <li>
                <a href="/admin/show_student"
                  ><i class="fa fa-book fa-lg"></i
                  ><span class="nav-item">student Profile</span></a
                >
                  </li>
                  <li>
          <a href="/admin/notifystaff"
            ><i class="fa fa-bell fa-lg"></i
            ><span class="nav-item">Notify Staff</span></a
          >
        </li>
        <li>
          <a href="/admin/notifystudent"
            ><i class="fa fa-bell fa-lg"></i
            ><span class="nav-item">Notify Student</span></a
          >
        </li>
        <li>
          <a href="/admin/viewattendence"
            ><i class="fa fa-bell fa-lg"></i
            ><span class="nav-item">view Attendance</span></a
          >
        </li>
        <li>
          <a href="/admin/upload"
            ><i class="fa fa-bell fa-lg"></i
            ><span class="nav-item">Upload photos</span></a
          >
        </li>
        <li class="logout">
          <a href="/login"
            ><i class="fa fa-sign-out fa-lg"></i
            ><span class="nav-item">Log out</span></a
          >
        </li>
      </ul>
    </nav>
 </body>
</html>


