<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/hod.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome.com/icons/message-lines?f=classic&s=solid"
    />
    <link rel="website icon" type="jpg" href="/images/17784 - Copy.jpg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#" class="logo">
            <img src="/images/person-icon.webp" alt="" />
            <span class="nav-item">HOD Panel</span>
          </a>
        </li>
        <li>
          <a href="/hod/home" class="main-home">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-item">Home</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_managestaff">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-item">Manage Staff</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_managesubject">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-item">Manage Subject</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_managestudent">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-item">Manage Student </span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_notifystaff">
            <i class="fa fa-bell fa-lg"></i>
            <span class="nav-item">Notify Staff</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_notifystudent">
            <i class="fa fa-bell fa-lg"></i>
            <span class="nav-item">Notify Student</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_viewattendence">
            <i class="fa fa-table fa-lg"></i>
            <span class="nav-item">view Attendance</span>
          </a>
        </li>
        <li>
          <a href="/hod/hod_timetable">
            <i class="fa fa-table fa-lg"></i>
            <span class="nav-item">Time Table</span>
          </a>
        </li>
        <li>
          <a href="/login">
            <i class="fa fa-sign-out fa-lg"></i>
            <span class="nav-item">Log out</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Section -->

   
    <!-- Bootstrap Java Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
