

<% include adminHeader %>
  
    <!-- section  -->

    <div class="Add_Staff">
      <div class="add_staff_fprm">
        <form action="/" method="POST">
          <h2>Add Session</h2>
          <div class="inputBox">
            <h5>Start Session</h5>
            <input type="date" name="Name" required="required" />
            <i></i>
          </div>
          <div class="inputBox">
            <h5>End Session</h5>
            <input type="date" name="" required="required" />
            <i></i>
          </div>
          <br />
          <br />
          <input type="submit" value="Add Session" />
        </form>
      </div>
    </div>
    <!--            Script               -->
    <script>
     