<% include staffheader %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="staff.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome.com/icons/message-lines?f=classic&s=solid"
    />
    <link rel="website icon" type="jpg" href="photos\17784 - Copy.jpg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="add_result.css" />
    <style>
        .Add_Staff {
  position: absolute;
  left: 250px;
  padding-top: 50px;
}

.add_staff_fprm form {
  inset: 4px;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-style: outset;
}

h2 {
  font-weight: 4500;
  letter-spacing: 0.1em;
  background-color: #8f8f8f;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}
.add_staff_fprm form .inputBox {
  position: relative;
  width: 700px;
  margin-top: 35px;
}
.add_staff_fprm form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.add_staff_fprm form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.add_staff_fprm form .inputBox input:valid ~ span,
.add_staff_fprm form .inputBox input:focus ~ span {
  font-size: 0.75em;
  transform: translateY(-34px);
}
.add_staff_fprm form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(202, 202, 202);
  border-radius: 4px;
  overflow: hidden;
  transition: 00.5s;
  pointer-events: none;
}
.add_staff_fprm form .inputBox input:valid ~ i,
.add_staff_fprm form .inputBox input:focus ~ i {
  height: 44px;
}
.add_staff_fprm form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 15 0px;
  margin-top: 10px;
}
.add_staff_fprm form input[type="submit"]:active {
  opacity: 0.8;
}

    </style>
  </head>
  <body>
    
    <div class="Add_Staff">
      <div class="add_staff_fprm">
        <form action="/" method="POST">
          <h2>Edit Result</h2>
          <div class="inputBox">
            <input type="text" name="Name" required="required" />
            <span>Name</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" name="Name" required="required" />
            <span>Enrollment No.</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" name="Name" required="required" />
            <span>Subject</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" name="Name" required="required" />
            <span>Test Score</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" name="Name" required="required" />
            <span>Exam Score</span>
            <i></i>
          </div>
          <br /><br />
          <input type="submit" value="Add Result" />
        </form>
      </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap Java Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
