<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Student Section</title>
</head>
<body>



  <nav class="navbar navbar-expand-lg text-bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light fs-2" href="#">SA<span class="text-warning">i</span>T</a>
      <button>
        <img src="img19.html" alt="" height="50px" class="rounded-circle">
      </button>
    
    </div>
  </nav>
  <div class="col-12 bg-warning text-center">
    <p class="fs-3 fw-bolder">Welcome to Student Section.</p>
  </div>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

<div class="offcanvas offcanvas-start bg-dark " data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <button type="button" class="btn-close float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  <div class="offcanvas-header">
    <img src="img19.html" alt="" height="100px" class="border-1 rounded-circle ms-5">
  </div>]
  <p class="fs-5 text-center text-white">Nitya Pawar</p>
  <!-- <div class="text-bg-light">
    <p class="fs-5 text-bg-warning text-dark text-center">ADMIN PANEL</p>
    </div> -->
  <div class="offcanvas-body">
    <div class="menu">
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning m-2 "><a href="#"class="text-dark text text-decoration-none" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
      </svg> HOME</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning   m-2 "><a href="stprofile.html" class="text-dark text text-decoration-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg> PROFILE</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">SUBJECTS</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">ASSIGNMENTS</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">TIME-TABLE</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">VIEW-ATTENDENCE</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">MID TERM MARKS</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">SYLLABUS</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="#" class="text-dark text text-decoration-none">NOTIFICATIONS</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning  m-2 "><a href="chat.html" class="text-dark text text-decoration-none">CHATBOX</a></button>
      <button type="button" class="list-group-item list-group-item-action p-2 text-center text-bg-warning m-2 "><a href="#" class="text-dark text text-decoration-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
      <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg> LOGOUT</a></button> 
    </div>
  </div>
</div>

<div class="text-center">
    <img src="tt.html" alt="" class="img-fluid">
</div>













  <script src="bootstrap/js/bootstrap.min.js"></script>    
</body>
</html>